{% extends 'base.html' %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block content %}
<div class="chart-container">
    <canvas id="categoryChart"></canvas>
</div>
{% endblock %}


{% block extra_js %}
<script type="text/javascript">
    var chartData = {{ categories|tojson }};
</script>
<script src="{{ url_for('static', filename='js/Chart.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/graph.js') }}"></script>
{% endblock %}